<!-- importamos el partial 'views/partials/head.hbs' -->
{{> head }}
        <!-- {{> navbar }} importamos el partial 'views/partials/navbar.hbs' -->
        {{> navbar }}
        <!--<div class="jumbotron">
          <h1 class="display-4">Hello, {{ nombre }}</h1>
          <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
          <hr class="my-4">
          <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
          <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </div>-->
        <div class="row">
            <div class="col-8">
                <!-- {{ titulo_principal }} recibimos la variable titulo_principal del server.js -->
                <h1>{{ titulo_principal }}</h1>
                <!-- {{ contenido }} recibimos la variable contenido del server.js -->
                <p>{{ contenido }}</p>
            </div>
        </div>
<!-- importamos el partial 'views/partials/footer.hbs' -->
{{> footer }}
